![png](https://assets.codingdojo.com/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

# ## Change username and password to match your personal MySQL Server settings
# username = 'root' # default username for MySQL db is root
# password = 'YOUR_PASSWORD' # whatever password you chose during MySQL installation.

# connection = f'mysql+pymysql://{username}:{password}@localhost/Chinook'
# engine = create_engine(connection)

In [ ]:
import json
with open('/Users/parri_nqdmzn3/.secret/mysql.JSON') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost:8888/edit/Documents/0327%20Data%20Enrichment/Queries--Sakila--Core-/sakila-data.sql"
engine = create_engine(connection)

In [ ]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

In [ ]:
# 1. What query would you run to get all the customers inside city_id = 312? Your query should return the 
# customers' first name, last name, email, address, and city.
'''SELECT 
c.first_name, c.last_name, c.email, a.address, city.city
FROM 
customer 
AS 
c 
JOIN
address 
AS 
a 
ON 
c.address_id = a.address_id 
JOIN
city 
ON 
a.city_id = city.city_id
WHERE 
a.city_id = 312;'''
pd.read_sql(q,engine)

In [ ]:
# 2. What query would you run to get all comedy films? Note that the genre is 
# called the category in this schema. Your query should return film title, 
# description, release year, rating, and special features.
'''SELECT film.title, film.description, film.release_year, film.rating, film.special_features, category.name AS category_name
FROM film 
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id 
WHERE category.name = 'Comedy'''';

In [ ]:
# 3. What query would you run to get all the films that Johnny Lollobrigida 
# was in? Your query should return the actor's last name, film title, and 
# release year.
'''SELECT actor.title, actor.last_name, film.title, film.release_year
FROM actor
JOIN film_actor ON actor.actor_id = film.actor.actor_id
JOIN film ON film_actor.film_id = film.film_id
WHERE actor.first_name = 'Johnny'
AND actor.last_name = 'Lollobrigida'''';

In [ ]:
# 4. What query would you run to get the first and last names of all the 
# actors in the movie titled "Bingo Talented"?
'''SELECT actor.first_name, actor.last_name 
FROM actor 
JOIN film_actor ON actor.actor_id = film_actor.actor_id
WHERE film_actor.film_id = (SELECT film_id
FROM film
WHERE film.title = 'Bingo Talented')''';

In [ ]:
# 5. What query would you run to get the customer_id associated with all 
# payments greater than twice the average payment amount? (HINT: use 2* in 
# your query to get twice the amount). Your result should include the 
# customer id and the amount.
'''SELECT
customer_id, amount
FROM payment
WHERE amount > 2 * (SELECT AVG(amount)
FROM payment)''';

In [ ]:
# 6. What query would you run to list the first and last names of the 
# 5 customers who have the highest number(count) of payments? You can 
# title the number of payments as num_payments.
'''SELECT
customer.first_name,
customer.last_name,
(SELECT
COUNT(*)
FROM payment
WHERE payment.customer_id = customer.customer_id) AS num_payments
FROM customer
ORDER BY num_payments DESC
LIMIT 5
''';