![png](https://assets.codingdojo.com/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

# ## Change username and password to match your personal MySQL Server settings
# username = 'root' # default username for MySQL db is root
# password = 'YOUR_PASSWORD' # whatever password you chose during MySQL installation.

# connection = f'mysql+pymysql://{username}:{password}@localhost/Chinook'
# engine = create_engine(connection)

In [2]:
import json
with open('/Users/parri_nqdmzn3/.secret/mysql.JSON') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/Chinook"
engine = create_engine(connection)

In [4]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [5]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

Empty DataFrame
Columns: [Tables_in_chinook]
Index: []

In [6]:
# 1. What query would you run to get all the customers inside city_id = 312? 
# Your query should return the customers' first name, last name, email, address, and city.
SELECT customer.first_name AS first_name, customer.last_name AS last_name, customer.email, address.address
FROM customer 
JOIN address ON customer.address_id = address.address_id 
WHERE address.city_id = 312

SyntaxError: invalid syntax (2457503645.py, line 3)

In [ ]:
# 2. What query would you run to get all comedy films? Note that the genre is 
# called the category in this schema. Your query should return film title, 
# description, release year, rating, and special features.
SELECT film.title, film.description, film.release_year, film.rating, film.special_features, category.name AS genre
FROM film 
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id 
WHERE category.name = 'Comedy'

In [ ]:
# 3. What query would you run to get all the films that Johnny Lollobrigida 
# was in? Your query should return the actor's last name, film title, and 
# release year.
SELECT film.title, film.description, film.release_year
FROM film 
JOIN film_actor ON film.film_id = film_actor.film_id 
WHERE film_actor.actor_id = Johnny Lollobrigida

In [ ]:
# 4. What query would you run to get the first and last names of all the 
# actors in the movie titled "Bingo Talented"?
SELECT film.film_id, film.title, actor.actor_id, actor.first_name, actor.last_name 
FROM film 
JOIN film_actor ON film.film_id = film_actor.film_id 
JOIN actor ON film_actor.actor_id = actor.actor_id 
WHERE film.film_id = Bingo Talented

In [ ]:
# 5. What query would you run to get the customer_id associated with all 
# payments greater than twice the average payment amount? (HINT: use 2* in 
# your query to get twice the amount). Your result should include the 
# customer id and the amount.

In [ ]:
# 6. What query would you run to list the first and last names of the 
# 5 customers who have the highest number(count) of payments? You can 
# title the number of payments as num_payments.